/* The way I fit background images perfectly within the window */
body { 
    background: url("../images/background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.burger {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
}
